@page
@model StreamModel
@{
    ViewData["Title"] = "Stream";
}
<h1>@ViewData["Title"]</h1>
<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <video width="320" height="240" controls>
            <source src="~/videos/VID20191108201946.mp4" type="video/mp4">
            @* <source src="movie.ogg" type="video/ogg"> *@
            Your browser does not support the video tag.
        </video>
    </div>
    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6">
            <input type="button" id="streamButton" value="Start Streaming" />
            <input type="button" id="uploadButton" value="Start Upload" />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/signalr/stream/stream.js"></script>
@* <script src="~/js/chat.js"></script> *@